<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--Имя наборов тестов-->
<suite name="MyCalcTest">
    <listeners>
        <listener class-name="listener.RetryConvertTestNG"/>
    </listeners>
<!--    имя теста-->
    <test name="UnitTests">
<!--        запуск определенной группы тестов в аннотации @Test-->
        <groups>
            <run>
                <include name="sum1"/>
            </run>
        </groups>
        <classes>
            <class name="tests.testNG.NGTest">
            </class>
        </classes>
    </test>
</suite>